---
title: Nashville Tech Companies
layout: default
frontpage: true
---

<h1>The Nashville Tech Company List</h1>

<p class="lead">A free, open source listing of technology companies based or hiring in the Nashville, TN metro area.</p>

<div class="table-responsive">
  <table class="table table-striped" data-toggle="table" data-sort-name="name">
    <thead>
      <tr>
        <th data-field="name" data-sortable="true" data-sorter="noTagsSort">Company name</th>
        <th data-field="industry" data-sortable="true">Industry</th>
        <th data-field="locations" data-sortable="true" data-sorter="noTagsSort">Locations</th>
      </tr>
    </thead>
    <tbody>
      {% for company_hash in site.data.companies|sort:"[1].name" %}
      {% assign company = company_hash[1] %}
      <tr>
        <td><a href="{{ company.website | escape }}">{{ company.name | escape }}</a></td>
        <td>{{ company.industry | escape }}</td>
        <td>
        {% for location in company.locations %}
        <a href="https://maps.google.com/?q={{location|cgi_escape}}"><span class="glyphicon glyphicon-map-marker"></span>{{location | escape }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
        </td>
      </tr>
      {% endfor %}
  </table>
</div>

